{% load static %}

<footer class="footer pt-lg-0">
		<div class="container pt-2">
			<div class="row">
                <div class="col-4 col-md-2 col-lg-4 d-flex justify-content-start">
                    <p class="m-0"><a href="#"><i class="fa fa-instagram"></i> Ascesa</a></p>
                </div>
                <div class="col-8 col-md-6 col-lg-4 d-flex justify-content-end justify-content-md-center">
                    <p class="m-0">Ascesa - todos os direitos reservados</p>
                </div>
                <div class="col-12 col-md-4 col-lg-4 d-flex justify-content-center justify-content-md-end">
                    <p class="m-0">Desenvolvimento: <a href="#" target="_blank">Univesp PI Team</a></p>
                </div>
			</div>
		</div>
	</footer>