<div class="col-12 col-sm-3 bg-roxo rounded-2 py-3 mb-4 mb-md-5 mt-5" style="height: fit-content">
    <ul class="list-unstyled">
        <li class=" border-bottom border-white mb-2">
            <a class="text-white" href="{% url 'solicitacoes' %}">Solicitações
                de adoção</a>
{#        <li class=" border-bottom border-white mb-2">#}
{#            <a class="text-white" href="{% url 'solicitacoes' %}">Cadastrar Pet</a>#}
{#        </li>#}
{#        <li class=" border-bottom border-white mb-2">#}
{#            <a class="text-white" href="{% url 'solicitacoes' %}">Meus Pets</a>#}
{#        </li>#}
        <li class=" border-bottom border-white mb-2">
            <a class="text-white" href="{% url 'alterarcadastro' %}">Alterar
                cadastro</a></li>
        <li class=" border-bottom border-white mb-2">
            <a class="text-white" href="{% url 'logout' %}">Sair</a></li>
    </ul>
</div>